<mat-list role="list"
>
  <mat-list-item class="filterItem" role="listitem">
    <button mat-icon-button color="primary" matTooltip="Add filter"
            (click)="addFilter(selectedFilterType, filterInput.value, filterCheckbox.checked)"
            (keydown.enter)="addFilter(selectedFilterType, filterInput.value, filterCheckbox.checked)">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field>
      <mat-select placeholder="Select filter type" #selectedFilterType [formControl]="selectFilterFormControl" required>
        <mat-option *ngFor="let filterType of filterTypes" [value]="filterType">
          {{filterType.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectFilterFormControl.hasError('required')">Please select a filter type</mat-error>
    </mat-form-field>

    <mat-form-field class="filterInput"
                    [hidden]="selectedFilterType.value == null || selectedFilterType.value.type === 'boolean'">
      <input #filterInput matInput type="text" min="1"
             [placeholder]="selectedFilterType.value && selectedFilterType.value.name"
             (keydown.enter)="addFilter(selectedFilterType, filterInput.value, filterCheckbox.checked)">
    </mat-form-field>

    <mat-checkbox #filterCheckbox class="filterCheckbox"
                  [hidden]="selectedFilterType.value == null  || selectedFilterType.value.type === 'string'"
                  (keydown.enter)="addFilter(selectedFilterType, filterInput.value, filterCheckbox.checked)">
    </mat-checkbox>

  </mat-list-item>

  <mat-list-item class="filterItem" role="listitem" *ngIf="!isEmptyObject(filter)">
    <mat-chip-list>
      <app-house-filter-item *ngFor="let filterKey of objectKeys(filter)" [filter]="filter"
                             [filterKey]="filterKey" [filterValue]="filter[filterKey]"></app-house-filter-item>
    </mat-chip-list>
  </mat-list-item>

</mat-list>
<mat-action-row>
  <button mat-raised-button matTooltip="Reset filters" *ngIf="!isEmptyObject(filter)"
          (click)="resetFilters()">
    <mat-icon>delete</mat-icon>
  </button>
  <span class="buttonSpacer"></span>
  <button mat-raised-button color="primary" matTooltip="Apply filters"
          (click)="applyFilters(selectedFilterType, filterInput.value, filterCheckbox.checked)">Apply
  </button>

</mat-action-row>
