<mat-card *ngIf="characterDetails" class="mat-elevation-z3 noIcon"
          [ngClass]="characterType.toLowerCase()==='heir'?'heir':''">
  <mat-card-title class="characterTitle" [matTooltip]="characterType">
    <span *ngFor="let title of characterDetails.titles;
    let isLast=last; let index=index">{{title}}{{isLast ? (index === 0 && title === '' ? ' ' : ' - ' ) : ', '}}</span>
    <ng-container *ngIf="characterDetails.name; else aliases">
      {{characterDetails.name}}
    </ng-container>
    <ng-template #aliases *ngFor="let alias of characterDetails.aliases">
      {{alias}}
    </ng-template>
    <span *ngIf="characterDetails.gender">
            <span *ngIf="characterDetails.gender === 'Male'" matTooltip="Male">♂️</span>
            <span *ngIf="characterDetails.gender === 'Female'" matTooltip="Female">♀️</span>
          </span>
  </mat-card-title>
  <mat-card-subtitle>
    <div *ngIf="characterDetails.born || characterDetails.died" matTooltip="Born">*
      {{characterDetails.born || 'unknown'}}
      <span matTooltip="Died" *ngIf="characterDetails.died">- † {{characterDetails.died}}</span>
    </div>
  </mat-card-subtitle>
</mat-card>
