<mat-expansion-panel hideToggle class="mat-elevation-z3 paginatorRow">
  <mat-expansion-panel-header>
    <mat-paginator class="housesPaginator" [length]="maximumTableDataLength" [pageSize]=pageSize
                   [pageSizeOptions]=pageSizeOptions
                   [showFirstLastButtons]="true"
                   (page)="onPaginateChange($event)" (click)="$event.stopPropagation()">
    </mat-paginator>
    <mat-panel-description>
      <mat-icon #filterListIcon class="filterIcon" [ngClass]="hasFilters()? 'mat-accent':''" matTooltip="Filter">
        filter_list
      </mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-house-filter></app-house-filter>
</mat-expansion-panel>

<app-loading></app-loading>
<div class="mat-elevation-z3 table-container" #tableContainer>
  <mat-table mat-table class="housesTable" [dataSource]="tableDataSource">
    <ng-container matColumnDef="houseIndex">
      <mat-header-cell mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let house">{{house.index}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="houseName">
      <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let house">{{house.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="houseRegion">
      <mat-header-cell mat-header-cell *matHeaderCellDef>Region</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let house">{{house.region}}</mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row matRipple [routerLink]="[row.index]" routerLinkActive="highlighted"
             *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
