:host {
  padding: 50px 20px 20px 20px;
  width: 100%;
  height: inherit;
}

.table-container {
  margin-top: 20px;
  overflow: auto;
  max-height: calc(100% - (80px + 64px));
}

mat-table.housesTable {

  mat-row {
    cursor: pointer;

    &.highlighted {
      background: darken(white, 10%);
    }
    &:focus {
      outline: 0;
    }
  }
}

mat-paginator.housesPaginator {
  background: unset;
}

mat-expansion-panel.paginatorRow {
  min-width: 591px;
}

mat-icon.filterIcon {
  margin-top: 12px;
}


