<mat-expansion-panel hideToggle class="mat-elevation-z3">
  <mat-expansion-panel-header>
    <mat-paginator class="housesPaginator" [length]="maximumTableDataLength" [pageSize]=pageSize
                   [pageSizeOptions]=pageSizeOptions
                   [showFirstLastButtons]="true"
                   (page)="onPaginateChange($event)" (click)="$event.stopPropagation()">
    </mat-paginator>
    <mat-panel-description>
      <mat-icon class="filterIcon" matTooltip="Add app to home screen">filter_list</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <button mat-icon-button color="primary" (click)="addFilter()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-form-field>
    <mat-select placeholder="Filter type" #selectedFilterType>
      <mat-option *ngFor="let filterType of filterTypes" [value]="filterType">
        {{filterType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filterInput" *ngIf="selectedFilterType.value && selectedFilterType.value.type === 'string'">
    <input matInput type="text" min="1" [placeholder]="selectedFilterType.value && selectedFilterType.value.name">
  </mat-form-field>
  <mat-checkbox class="filterCheckbox" *ngIf="selectedFilterType.value &&selectedFilterType.value.type !== 'string'">
    {{selectedFilterType.value.name}}
  </mat-checkbox>

  <mat-action-row>
    <button mat-raised-button color="primary" matTooltip="Apply filters" (click)="applyFilters()">Apply</button>
  </mat-action-row>
</mat-expansion-panel>

<app-loading></app-loading>
<div class="table-container mat-elevation-z3" #tableContainer>
  <mat-table mat-table class="housesTable" [dataSource]="tableDataSource">
    <ng-container matColumnDef="houseIndex">
      <mat-header-cell mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let house">{{house.index}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="houseName">
      <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let house">{{house.name}}</mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row matRipple [routerLink]="[row.index]" routerLinkActive="highlighted"
             *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>

