:host {
  padding: 40px 20px 20px 20px;
  width: 100%;
  height: inherit;
}

.table-container {
  overflow: auto;
  max-height: calc(100% - (80px + 64px));
}

mat-table.housesTable {

  mat-row {
    cursor: pointer;

    &.highlighted {
      background: darken(white, 10%);
    }
    &:focus {
      outline: 0;
    }
  }
}

mat-paginator.housesPaginator {
  background: unset;
}

mat-toolbar-row.paginatorRow {
  min-width: 495px;
}

mat-icon.filterIcon {
  margin-top: 12px;
}

mat-checkbox.filterCheckbox, mat-form-field.filterInput {
  margin-left: 8px;
}
