<mat-toolbar class="mat-elevation-z3">
  <mat-toolbar-row>
    <mat-paginator class="housesPaginator" [length]="maximumTableDataLength" [pageSize]=pageSize
                   [pageSizeOptions]=pageSizeOptions
                   [showFirstLastButtons]="true"
                   (page)="onPaginateChange($event)">
    </mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>
<app-loading></app-loading>
<div class="table-container mat-elevation-z3" #tableContainer>
  <mat-table mat-table  class="housesTable" [dataSource]="tableDataSource">
    <ng-container matColumnDef="houseIndex">
            <mat-header-cell mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let house">{{house.index}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="houseName">
      <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let house">{{house.name}}</mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row matRipple [routerLink]="[row.index]" routerLinkActive="highlighted"
             *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>

