<mat-expansion-panel hideToggle class="mat-elevation-z3 paginatorRow">
  <mat-expansion-panel-header class="tableControls">
    <mat-paginator id="tablePaginator" class="housesPaginator" [length]="maximumTableDataLength" [pageSize]=pageSize
                   [pageSizeOptions]=pageSizeOptions
                   [showFirstLastButtons]="true"
                   (page)="onPaginateChange($event)" (click)="$event.stopPropagation()">
    </mat-paginator>
    <mat-panel-description class="tableFilter">
      <mat-icon #filterListIcon class="filterIcon" [ngClass]="activeFilterClass" matTooltip="Filter">
        filter_list
      </mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-house-filter></app-house-filter>
</mat-expansion-panel>
